.custom-input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 16px;
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.custom-input:focus {
  outline: none;
  border-color: #ee4d2d; /* Cor laranja da Shopee */
}